header{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 60pt;
    font-family: monospace;
    margin-bottom: 15%;
}

body{
    text-align: center;
}

#buttonPanel{
    padding-top: 27.5;
}